*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0d3351;
	background: #f3f3f3;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background: url(../images/main-pic-sm.jpg) 50% 100% no-repeat;
	background-size: cover;
	padding: 17px 0 207px;
	position: relative;
	margin-bottom: 53px;
}

.header::after {
	content: "";
	position: absolute;
	bottom: -39px;
	left: 50%;
	width: 46px;
	height: 221px;
	transform: translateX(-50%);
	background: url(../images/line.png) 50% no-repeat;
	background-size: 49px;
}

.header-top {
	position: relative;
}

.nav-btn {
	position: relative;
	width: 42px;
	height: 36px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-left: -10px;
}

.nav-btn span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	width: 22px;
	height: 2px;
}

.nav-btn span,
.nav-btn span::after,
.nav-btn span::before {
	width: 22px;
	height: 2px;
	position: absolute;
	background: #0d3351;
}

.nav-btn span::before {
	content: "";
	top: -7px;
	left: 0;
}

.nav-btn span::after {
	content: "";
	top: 7px;
	left: 0;
}

.main-nav {
	position: absolute;
	top: 35px;
	left: 0;
	overflow: hidden;
	transition: height 2s;
}

.nav-hidden {
	height: 0;
}

.main-nav-list {
	list-style: none;
	padding: 30px 70px 30px 40px;
	margin: 0;
	background: #0d3351;
}

.main-nav-item {
	margin-bottom: 20px;
}

.main-nav-link {
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
}

.header-right {
	display: none;
}

.header-info {
	text-align: center;
}

.logo {
	display: inline-block;
	margin: -26px 0 8px;
}

.logo img {
	width: 70px;
}

.main-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 41px 0;
	letter-spacing: 1px;
	text-align: center;
}

.main-title span {
	display: block;
	font-size: 50px;
	line-height: 48px;
	text-transform: uppercase;
	padding-top: 14px;
	letter-spacing: 0;
}

.header-btn {
	display: inline-block;
	padding: 15px 47px;
	background: #33c7fd;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
}

.main-block h2 {
	text-align: center;
	margin-bottom: 55px;
}

.catalog-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.catalog-item {
	max-width: 484px;
	width: 100%;
	margin-bottom: 22px;
	position: relative;
}

.catalog-card {
	background: #fff;
}

.card-img {
	height: 227px;
	overflow: hidden;
}

.card-img img {
	height: 100%;
	max-width: 555px;
}

p {
	margin: 0;
}

.card-info {
	padding: 26px 0 32px 22px;
	line-height: 24px;
}

.card-title {
	position: relative;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 18px;
	color: #00a2dd;
	margin: 0 0 6px 0;
	letter-spacing: 1px;
	text-decoration: none;
	flex-grow: 1;
}

.card-title::after {
	content: "";
	position: absolute;
	top: 10px;
	right: -15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent #00a2dd;
}


.card-text {
	word-spacing: -1px;
	letter-spacing: 1px;
}
.subtitle {
	font-weight: bold;
}
.card-text span {
	letter-spacing: 1px;
}

.price {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	line-height: 48px;
	font-size: 30px;
	padding-top: 6px;
	letter-spacing: 1px;
}

.price span {
	font-size: 18px;
	text-decoration: line-through;
	color: #7a8f9f;
}

.newline {
	display: block;
}

.btn-location {
	padding: 15px 15px;
	background: #00a2dd;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

#map {
	height: 400px;
	width: 100%;
}

.flag {
	background-color: #33c7fd;
	position: absolute;
	top: -7px;
	right: 23px;
	width: 89px;
	height: 83px;
}

.flag::before {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	border-left: 45px solid #33c7fd;
	border-right: 44px solid #33c7fd;
	border-bottom: 17px solid transparent;
}

.flag span {
	display: block;
	margin: -6px 0 0 0;
}

.flag p {
	text-align: center;
	position: absolute;
	top: 24px;
	right: 13px;
	text-transform: uppercase;
	color: #fff;
}

.card-2 .flag,
.card-3 .flag {
	background: #f20542;
}

.card-2 .flag::before,
.card-3 .flag::before {
	border-left-color: #f20542;
	border-right-color: #f20542;
}

.card-2 .flag p {
	top: 33px;
	right: 17px;
	letter-spacing: 1px;
}

.card-2 .card-title::after {
	top: 35px;
	right: 179px;
}

.card-3 .flag p {
	top: 25px;
	letter-spacing: 1px;
}
.card-3 .price {
	padding-top: 32px;
}
.card-3 .card-title::after {
	top: 35px;
	right: 190px;
}

.card-4 .card-title::after {
	top: 34px;
	right: 157px;
}
.catalog-btn {
	position: relative;
	padding: 16px 46px 15px 36px;
	color: #fff;
	text-decoration: none;
	background: #33c7fd;
	letter-spacing: 1px;
	margin-bottom: 32px;
}

.catalog-btn::after {
	content: "";
	position: absolute;
	top: 22px;
	right: 26px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
}
.footer {
	padding: 26px 0 40px;
	text-align: center;
	background: #fff;
}
.footer-description {
	display: none;
}
.icon-block{
	margin-bottom: 15px;
}
.icon-block p {
	margin-bottom: 9px;
	letter-spacing: 1px;
}
.ic-footer {
	position: relative;
	display: inline-block;
	height: 30px;
	width: 30px;
	background: #0d3351;
	border-radius: 50%;
	margin-right: 4px;
}
.ic-footer .ic {
	position: absolute;
	top: 28%;
	left: 48%;
	transform: translate(-50%);
	color: #fff;
}
.footer-info {
	letter-spacing: 1px;
}
.contact {
	font-weight: 700;
	margin: 0 0 7px 0;
}
.support-text {
	font-size: 12px;
	margin: 0 0 10px 9px;
}
.nameOfCompany {
	margin-left: 8px;
}

